# IDE
.vscode
.idea

# Python
__pycache__
venv

# starknet
deployments/*
!deployments/kakarot-sepolia/
!deployments/starknet-sepolia/
artifacts
build

#foundry
out
cache
/broadcast

.DS_Store
.env

lint.sarif
kakarot.code-workspace
coverage/*
resources/*

.hypothesis
*.pb.gz
profile*.png
logs

tests/ef_tests/test_data
!tests/ef_tests/test_data/.gitkeep

bin/
