[submodule "solidity_contracts/lib/forge-std"]
	path = solidity_contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity_contracts/lib/kakarot-lib"]
	path = solidity_contracts/lib/kakarot-lib
	url = https://github.com/kkrt-labs/kakarot-lib
[submodule "solidity_contracts/lib/v3-core"]
	path = solidity_contracts/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "solidity_contracts/lib/openzeppelin"]
	path = solidity_contracts/lib/openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "solidity_contracts/lib/base64-sol"]
	path = solidity_contracts/lib/base64-sol
	url = https://github.com/Brechtpd/base64
