# IDE
.vscode
.idea

# Python
__pycache__
venv

# starknet
deployments/*
!deployments/kakarot-sepolia/
!deployments/starknet-sepolia/
!deployments/kakarot-staging/
artifacts
build

#foundry
out
cache
/broadcast

.DS_Store
.env

lint.sarif
kakarot.code-workspace
coverage/*
resources/*

logs

tests/ef_tests/test_data
!tests/ef_tests/test_data/.gitkeep

bin/

# test data
*.pb.gz
.hypothesis
profile*.png
*.trace
*.memory
*.air_private_input.json
*.air_public_input.json
