# IDE
.vscode
.idea

# Python
__pycache__
venv

# starknet
node.json
*.deployments.txt
artifacts

# nile
127.0.0.1.*

# Protostar
build
*logs.json

.DS_Store

# README
tests/integrations/README.md
scripts/deploy_eth_lisbon.sh
scripts/deploy_eth_lisbon.ts

package.json
node_modules
package-lock.json
tsconfig.json

lint.sarif
