name: CI Tests

on: [push, pull_request, pull_request_target]

env:
  PROTOSTAR_VERSION: 0.4.2
  DEBUG: False

jobs:
  protostar-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install protostar
        run: |
          curl -L https://raw.githubusercontent.com/software-mansion/protostar/master/install.sh | bash -s -- -v $PROTOSTAR_VERSION

      - name: Install protostar dependencies
        run: /home/runner/.protostar/dist/protostar/protostar install

      - name: Compile smart contracts
        run: /home/runner/.protostar/dist/protostar/protostar build

      - name: Run protostar tests
        run: /home/runner/.protostar/dist/protostar/protostar test
